<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Mate Up"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Apps_Magang"
        tools:targetApi="31">
        <activity
            android:name=".core.presentation.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".profile.presentation.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Base.Theme.Apps_Magang" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.presentation.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.presentation.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>